.difficulty-btn-container {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.difficulty-btn {
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  color: #c2fd63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 2px;
}
.difficulty-image {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border: 5px solid #2c174f;
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms ease;
}
.difficulty-image:hover {
  transform: scale(1.05);
}
@media screen and (width < 841px) {
  .difficulty-btn-container {
    gap: 10px;
  }
  .difficulty-image {
    width: clamp(100px, 25vw, 300px);
    height: clamp(150px, 30vh, 300px);
  }
}
@media screen and (width < 491px) {
}
