/* Lost */
.endPage {
  position: absolute;
  width: 99vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: #00000043;
}
.Lost,
.Won {
  background-image: url(https://4kwallpapers.com/images/wallpapers/rick-and-morty-tv-3440x1440-9366.jpg);
  width: clamp(500px, 50vw, 800px);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.Won {
  background-image: url(https://4kwallpapers.com/images/wallpapers/rick-and-morty-tv-1920x1200-9367.jpg);
}
.Lost > h1,
.Won > h1 {
  color: #d3ff8c;
  letter-spacing: 2px;
}
.Lost a,
.Won a {
  color: black;
  text-decoration: none;
}
.rest-btn {
  width: 200px;
  height: 50px;
  background: #c2fd63;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms ease;
  font-size: 1rem;
}
.rest-btn:hover {
  background: #d3ff8c;
}
@media screen and (width < 491px) {
  .Lost,
  .Won {
    height: 200px;
  }
}
